<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <title>Liste de tags</title>
  </head>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <div id="app">
    <h1 class="text-center m-5">Liste de tags</h1>

    <div class="container">
      <div class="row g-4">
        <div class="col-12 col-sm-6">
          <h2 class="mb-3">Tags</h2>
          <ul class="list-group">
            <li v-for="tag in tags" key="tag" class="list-group-item">
              <input
                class="form-check-input me-2"
                type="checkbox"
                :value="tag"
                v-model="selectedTags"
                :id="'tag' + tag"
              />
              <label class="form-check-label stretched-link" :for="'tag' + tag">{{ tag }}</label>
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm-6">
          <h2 class="mb-3">Sélection ({{ selectedTags.length }})</h2>
          <ul class="list-group list-group-numbered">
            <li v-for="tag in selectedTags" key="tag" class="list-group-item">{{ tag }}</li>
          </ul>
        </div>
      </div>
      <div class="row g-4 text-center">
        <div class="col-6">
          <button
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#confirmModal"
            class="btn btn-outline-danger my-4"
            :disabled="!selectedTags.length"
          >
            Effacer la liste
          </button>
        </div>
        <div class="col-6">
          <button
            type="sumbit"
            data-bs-toggle="modal"
            data-bs-target="#alertModal"
            class="btn btn-success my-4"
            :disabled="!selectedTags.length"
          >
            Valider la liste
          </button>
        </div>
      </div>
    </div>

    <!-- CONFIRM MODAL -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="confirmModalLabel">Confirmation</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">Voulez-vous vraiment effacer la selection ?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="button" @click="selectedTags = []" class="btn btn-danger" data-bs-dismiss="modal">
              Effacer
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- ALERT MODAL -->
    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="alertModalLabel">selectedTags</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body font-monospace">
            array: {{ selectedTags }}<br />
            string: "{{ selectedTags.join(', ') }}"
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const { createApp } = Vue;

    createApp({
      data() {
        return {
          tags: ["Cool", "Branché", "Stylé", "Retro", "Chic"],
          selectedTags: [],
        };
      },
    }).mount("#app");
  </script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
</html>
